*{
    margin: 0;
}

body {
    background-color: #191b1c !important;
    color: #cbc5bd;
}

h1, h2, h3, h4, strong {
    color: #bcb6ac;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}
.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 200ms, transform 200ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 200ms, transform 200ms;
}
