.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1em;
    width: 90%;
    padding: 20px;
}

@media (max-width: 1600px) {
    .games {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1300px) {
    .games {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 993px) {
    .games {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .games {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

